.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #0c253b;
  color: white;
  width: 200px;
  min-width: 200px;
  padding: 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  transition: background 0.3s;
}
.nav-label {
  color: white;
  font-size: 0.95rem;
}

.sidebar-item:hover {
  background-color: #02db02;
  text-decoration: none;
}

.sidebar-item.active {
  background-color: #008000;
}

.nav-icon {
  font-size: 1rem;
  margin-right: 10px;
  color: white;
}

/* Outlet Area Styling */
.outlet-area {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* User info */
.logged-in-user {
  margin-top: 4rem;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 10px;
}
.dashboard-title {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.668);
}

/* Responsive Sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    min-width: 60px;
    padding: 10px 3px;
  }
  .sidebar-item {
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 2px;
  }
  .nav-label {
    display: none;
  }
  .nav-icon {
    margin-right: 0;
    font-size: 1rem;
  }
  .dashboard-title,
  .logged-in-user {
    display: none;
  }
}
